{% extends 'base.html' %}

{% block title %}SQS Management{% endblock %}

{% block content %}
<h2>DynamoDB Tables</h2>
<a href="/ddbList" class="alert-link">List Tables</a> /
<a href="/ddbListItems" class="alert-link">List Items</a>
<hr />

<div class="form-inline">

	<div class="form-group mx-sm-3 mb-2">
		<label class="form-check-label" for="tableNameId">Table name: &nbsp;</label>
		<label id="tableNameId" class="font-weight-bold text-uppercase" for="tableNameId">{{table_name}}</label>
    </div>
	
	<div class="form-group mx-sm-3 mb-2">
		<button type="submit" class="btn btn-primary" onclick="list_items()">Reload</button>
	</div>
	
	<div class="form-group mx-sm-3 mb-2">
		<a href="/ddbItem?tableName={{table_name}}" class="btn btn-outline-primary" role="button" aria-disabled="true">Add item</a>
	</div>

</div>

<hr />
<div class="table-responsive">
    
    <table id="ddbListItemsId" class="table table-striped table-sm">
        <thead>

        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}

{% block page_scripts %}
<script>
	list_items();
</script>
{% endblock %}

