{% extends 'base.html' %}

{% block title %}SQS Management{% endblock %}

{% block content %}
<h3>Sqs Queues</h3>

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item active">List Queues</li>
        <li class="breadcrumb-item" aria-current="page"><a href="/sqsMessages" class="alert-link">List Messages</a></li>
    </ol>
</nav>


<div class="form-inline">
    <div class="form-group mx-sm-3 mb-2">
        <input type="text" class="form-control" id="queueNameId" placeholder="Queue name" />
    </div>
	<div class="form-group">
		<button type="submit" class="btn btn-primary mb-2" onclick="addQueue()">Add</button>
	</div>
</div>

<div class="table-responsive">
    
    <table id="sqsListTableId" class="table table-striped table-sm">
        <thead>
            <tr>
                <th>Queue URL (click to view queue messages)</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

{% endblock %}

{% block page_scripts %}
<script>
	list_queues();
</script>
{% endblock %}

